<input type="checkbox" id="checkbox1" name="box1" value="first_checkbox">
<label for="checkbox1">This is the first checkbox</label>

<input type="checkbox" id="checkbox2" name="box1" value="second_checkbox">
<label for="checkbox2">This is the second checkbox</label>
