<form class="node-4 post" id="post_1">
  John Doe
  <label class="node-1" for="name">Name</label>
  <input class="node-2" id="name" value="John Doe">
  <label class="node-3" for="email">Email</label>
  <input class="node-5" id="email" value="john@example.com">
  <button {{action "buttonClicked" "First target button clicked"}}>First Target Button</button>
</form>

<form class="node-6 post" id="post_2">
  Jane Doe
  <input class="node-7" id="name" value="Jane Doe">
  <input class="node-8" id="email" value="jane@example.com">
  <input type="button" {{action "buttonClicked" "Second target button clicked"}} value="Second Target Button">
</form>

<form class="node-9 post" id="post_3">
  Jane Doe
  <input class="node-10" id="name" value="Jane Doe">
  <input class="node-11" id="email" value="jane@example.com">
</form>
