<!-- input: radio -->
<!-- radio inside of a radiogroup -->
<fieldset>
  <input type="radio" id="radio_1" name="test" value="radio_1">
  <label for="radio_1">Label for first radio</label>

  <input type="radio" id="radio_2" name="test" value="radio_2">
  <label for="radio_2">Label for second radio</label>
</fieldset>
