<!-- section -->
<section class='post' id='post_3'>
  A section with John Doe.
</section>

<section class='post' id='post_1'>
  A section with Jane Doe.
</section>

<section class='post' id='post_2'>
  Another section with Jane Doe.
</section>
