<!-- selects -->
<label for="select_1">Label for first select</label>
<select id="select_1" name="select_1">
  <option value="value1" selected>Value 1</option>
  <option value="value2">Value 2</option>
  <option value="value3">Value 3</option>
</select>
