<ul class="posts" id="post_3">John Doe</ul>
<ul class="posts" id="post_2">Jane Doe</ul>
<ul class="posts" id="post_1">Jane Doe</ul>

<ul>
  <li class="post" id="post_3">foo</li>
  <li class="post" id="post_2">bar</li>
  <li class="post" id="post_1">bar</li>
</ul>
